/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://i.imgur.com/bJ5t7pg.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

